body {
    	background-color: rgba(0, 0, 0, 0.877);
    	color: white;
    	margin: 10px;
    	padding: 20px;
}

img {
    	display: block;
    	margin: 0 auto;
    	width: 50%;
}

h2 {
    	text-align: center;
    	margin-top: 0px;
    	font-family: Arial;
}

.border_around_whole_input {
    	margin-top: 40px;
    	margin-left: auto;
    	margin-right: auto;
    	border: 1px solid rgb(126, 122, 122);
    	display: block;
    	width: fit-content;
    	border-radius: 15px;
    	padding: 20px;
}

.border_around_input {
    	display: flex;
    	flex-direction: column;
    	margin: -5px;
}


input {
    	border-radius: 8px;
    	height: 15px;
    	width: 300px;
    	padding: 14px 16px;
    	background-color: rgb(56, 56, 56);
}

input::placeholder {
    	color: white;
}

.input_1, 
.input_2{
    	margin-bottom: 10px;
    	color: white;
}


.log-in_container {
    	display: flex;
    	justify-content: center;
    	margin-top: -5px;
}

.log-in_button {
	margin: 10px 0px 0px 0px;
    	height: 40px;
    	line-height: 10px;
    	width: 320px;
    	text-align: center;
    	padding: 14px 16px;
    	border-radius: 10px;
    	font-size: 16px;
    	font-weight: bold;
    	background-color: #1876f2ce;
    	color: white;
}

a {
    	color: rgba(255, 255, 255, 0.89);
    	text-align: center;
    	display: flex;
    	justify-content: center;
    	font-family: Arial, Helvetica, sans-serif;
    	font-size: 13px;
}

hr {
    	border-top: 1px solid rgb(8, 8, 8);
}

.create_new_account {
    	margin: 15px 0px 0px 0px;
    	height: 40px;
    	line-height: 10px;
    	width: 188px;
    	text-align: center;
    	padding: 14px 16px;
    	border-radius: 10px;
    	font-size: 16px;
    	font-weight: bold;
    	background-color: #1876f2ce;
    	color: white;
}
